# caches et artefacts Python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv / build artefacts
venv/
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

#permettre le commit le wheel de pylirecouleur sur le dépôt
!dist/*.whl
